<!-- <style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

</style> -->

<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
 <title>Can I say that?</title>
    {% if 'show' in request.path %}
        <!-- <link href="./static/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- <link href="./static/css/custom.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% else %}
        <!-- <link href="../static/css/bootstrap.min.css" rel="stylesheet"> -->
        <!-- <link href="../static/css/custom.css" rel="stylesheet"> -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    {% endif %}
</head>
<!-- First Grid: Logo & About -->
<div class="w3-row">
  <div class="w3-half w3-dark-grey w3-container w3-center" style="height:800px">
    <div class="w3-padding-64">
      <h1>Can I say that?</h1>
    </div>
    <div class="w3-container w3-responsive">
          <form class="w3-container w3-card w3-padding-32 w3-white" action="/output" method="POST">
              <div class="form-group">
                <textarea class="form-control" type="text" name="user_text" id="user_text" rows="10" cols="60"></textarea>
              </div>
              Choose your audience:  <select name = "goal_category" method="GET" action="/output">
                {% for sources in goal_category %}
                <option value= "{{sources}}" SELECTED>{{sources}}</option>"
                {% endfor %}
              </select> <button type="submit" class="w3-button w3-dark-grey w3-right">Analyze!</button>
          </form>
    </div>
  </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:800px">
    <div class="w3-padding-64 w3-center">
      <h1>It depends.</h1>
      <!-- <img src="/w3images/avatar3.png" class="w3-margin w3-circle" alt="Person" style="width:50%"> -->
      <div class="w3-padding-64">
          <p>'Can I say that?' is a simple tool that gives you a sense for how others may perceive your writing. It was developed over three weeks as a pilot project for the <a href="https://www.insightdatascience.com/" target="_blank">Insight Data Science program</a>.</p>
          <p>It's digested thousands of pages from forums, blog posts, government reports, and PhD dissertations, to learn how we express ourselves in different contexts.</p>
          <p>Try it out! Enter that email you've been staring at, and we'll let you know if it's better on Reddit or in your boss' inbox.</p>



            
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-container w3-black w3-padding-16">
  <p>'Can I say that?' was developed by Amanda Tilot as an Insight Data Science Fellow.<br />
  Twitter: <a href="https://www.twitter.com/aktilot" target="_blank">@aktilot</a>    |     Web: <a href="https://aktilot.github.io" target="_blank">aktilot.github.io</a>     |     Email: amanda.k.tilot@gmail.com<br />
  Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a>
</p>
</footer>

</body>
</html>

<!-- 














  <hr size="200"> 
 <body class="w3-content" style="max-width:1300px">
 <div class="w3-row">
  <div class="w3-half w3-black w3-container w3-center" style="height:700px">
    <div class="w3-padding-64">
      <h1>Do you worry about the tone of your writing?</h1>
    </div>
    <div class="w3-padding-64">

    </div>
  <div class="w3-half w3-blue-grey w3-container" style="height:700px">
    <div class="w3-padding-64 w3-center">
      <h1>About Me</h1>
      <img src="/w3images/avatar3.png" class="w3-margin w3-circle" alt="Person" style="width:50%">
      <div class="w3-left-align w3-padding-large">

      </div>
    </div>
  </div>
</div>

 

    <div class="container">
      <div class="starter-template">
        <div class="row">
          <div class="column" style="width:40%;">
            
          </div>
          <div class="column" style="width:60%;padding-left:70px;">


          </div>
 </body>

</html> -->