<style>

 .main {
 background-color: rgba(255, 255, 255, 0.5);
 margin-top: 100px;
 padding-bottom: 50px;
 }
 .main h1 {
 font-size: 3.5em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h2 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main h3 {
 font-size: 2em;
 font-family: Arial;
 color: #2E3759;
 }
 .main p {
 font-size:1em;
 font-family: Arial;
 color: #2E3759;
 }

</style>


<title>Can I say that?</title>
</head>
<body>
<div class="main">
  <div style="text-align:center">
  <br><br>
  <div class="starter-template">

<br><br>
<h3>Your professionalism score (scale 0-4):</h3>
  <div>
    <p>
      {{values.user_text}} <br>
    </p>
    <p>
     Your text most closely matches category {{values.top_class}} ({{values.top_class_prob}}% match) <br>
     The next closest match was category {{values.second_class}} ({{values.second_class_prob}}% match) <br>
    </p>
  </div>

</div></div></div>
</body>
